ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(20, 168, 161) , rgb(24, 189, 38));
  }
  
  li {
    float: left

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-image: linear-gradient(to right, rgb(20, 168, 161) , rgb(24, 189, 38))
  }

  iframe{
    align-items: center;
  }

  .map-responsive{

    overflow:hidden;

    padding-bottom:40%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}