ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(20, 168, 161) , rgb(97, 214, 179));
  }
  
  li {
    float: left

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
  background-image: linear-gradient(to right, rgb(20, 168, 161) , rgb(97, 214, 179))
}

iframe{
  align-items: center;
}

.a{
  text-align: center;
    
}

body{
  background-image:radial-gradient( rgb(41, 243, 233) , rgb(97, 214, 179))
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.texto {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.texto p {
  margin-bottom: 2px;
}
