ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(20, 168, 161)
}
  
li {
  float: left

}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-image: linear-gradient(to right, rgb(20, 168, 161) , rgb(97, 214, 179))
}

iframe{
  align-items: center;
}

.banner {
  background-color:  rgb(20, 168, 161);
  padding: 25px;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.featured-article, .recent-articles {
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
}

article {
  border: 3px solid rgb(20, 168, 161);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: white;
  align-items: center;
  max-block-size: 500px;
  margin: 30px;
}

body{
  background-image:radial-gradient( rgb(167, 233, 230) , rgb(20, 168, 161));
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.texto {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.texto p {
  margin-bottom: 2px;
}

p,h2{
  color: rgb(255, 255, 255);
}

footer {
	background-color:rgb(20, 168, 161);
	padding: 0;
  padding-top: 5px;
	text-align: center;
	margin-top: 30px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
}

.objetivo p{
  display: flex;
  flex: 50%;
  flex-direction: column;
  padding-left: 7px;
}

.objetivo,h1{
  padding-left: 2px;
  color: white;
}

.objetivo,h2{
  padding-left: 5px;
}
  
.contact{
  height: 888px;
}

body,h2{
  text-align: center;
}