ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 168, 161)
  }
  
  li {
    float: left

  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  li a:hover {
  background-image: linear-gradient(to right, rgb(20, 168, 161) , rgb(97, 214, 179))
}

iframe{
  align-items: center;
}

.a{
  text-align: center;
    
}

body{
  background-image:radial-gradient( rgb(41, 243, 233) , rgb(97, 214, 179));
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.texto {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.texto p {
  margin-bottom: 2px;
}

footer {
	background-color:rgb(97, 214, 179);
	padding: 0;
  padding-top: 20px;
	text-align: center;
	margin-top: 30px;
  
}

.footerClas{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
  
}